.tree-node {
	height: 25px;
	white-space: nowrap;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background:;
}

.tree-indent {
	display: inline-block;
	width: 6px;
	height: 18px;
	vertical-align: top;
	overflow: hidden;
}

.tree-node-hover {
	font-size: 14px;
	background: #e6e6e6;
	color: #00438a;
}

.a-background {
	font-size: 12px;
}

.b-background {
	font-size: 12px;
	letter-spacing:;
	height: 28px;
	white-space: nowrap;
	cursor: pointer;
	background:;
}